[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

spacy = ">2"


[packages]

keras = ""
tensorflow = ""
numpy = ""
sklearn = ""
"h5py" = ""
neovim = "*"
tqdm = "*"


[requires]

python_version = "3.6.3"
